ul li {
	list-style: none;
}

.catagory-wrapper {
	position: relative;
	margin: 20px 10px;
	/* 上左下右 */
	width: 720px;
	height: 50px;
	border-top: #fff solid 1px;
	border-left: #fff solid 1px;
	border-right: #fff solid 1px;
	border-bottom: #f2f4f7 solid 1px;
}

.catagory-wrapper .catagory-text-container {
	margin: 5px;
	position: relative;
	line-height: 40px;
}

.catagory-text-container .catagoty-list-nav {
	box-sizing: border-box;
	display: block;
}

.list-nav {
	float: left;
}

.list-nav-active {
	border-bottom: #FF3D37 solid 4px;
}

.list-nav-active .inner-text a {
	color: #FF3D37;
	font-weight: bold;
}

.inner-text {
	display: block;
	margin: 0 15px;
}

.inner-text a {
	letter-spacing: 1px;
}

.inner-text a:hover {
	color: #FF3D37;
}
.nav_box .hide{
	display:none
}