.footer{
	width: 100%;
	background-color: #f1f1f1;
	display: block;
	height: 100px;
	line-height: 31px;
}
.footer span a{
	display: block;
	text-align: center;
	padding-top: 30px;
	color: #666;
}
.footer span a:hover{
	color: #E33333;
}