

/* top start */
	/* 见top.php文件，可在其他页面重负使用 */
/* top end */


/* head start */
.header {
	position: relative;
	width: 1100px;
	height: 90px;
	margin: 0 auto;
}
.header .logo{
	position: absolute;
	top: 25px;
	left: 20px;
	float: left;
	width:175px;
	height: 56px;
}
.header .logo a{
	display: block;
	width: 175px;
	height: 56px;
	background:url() no-repeat;
	font-size: 28px;
	color: #FF0000;
}

/* head end */


/* body start */
.body_head{
	width: 100%;
	height: 40px;
	margin: 10px auto 0 auto;
	background: #f0f0f0;
	border: 1px solid #f0f0f0;
}
.body_head h2{
	line-height: 35px;
	margin-left: 30px;
}
.body{
	width: 1200px;
	height: 800px;
	background: #fff;
	margin: 0px auto 0 auto;
	/* position: relative; */
/* 	padding-left:25px; */
	padding-top: 0;
	border: 1px solid #f7f7f7;
}

/*  */
.body .left{
	width: 200px;
	height: 800px;
	background: #fff;
	float: left;
	margin-top: 0px;
	border-right: 2px solid #dfdfdf;
}
.body .left .pic{
	position: relative;
	height: 200px;
	width: 200px;

}
.body .left .pic img{
	position: absolute;
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*  */
.body .center{
	width: 950px;
	/* height: 600px; */
	background: #fff;
	/* position: absolute; */
	float: left;
	margin-left: 40px;
	margin-top: 20px;
}
.body .center p
,.body .center nav{
	min-height: 50px;
	width: 800px;
	margin-top: 10px;
}
.body .center .size{
	min-height: 50px;
	margin-top: 10px;
}
.body .center p label
,.body .center nav label{
	width: 80px;
	height: 50px;
	color: #707070;
	display: block;
	float: left;
	line-height: 50px;
	font-size: 12px;
}
.body .center p span
,.body .center nav span{
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.body .center .price span{
	font-size: 22px;
	font-weight: 300;
}
.body .center .size span{
	position: relative;
}
.body .center .size .tab1{
	display: inline-block;
	height: 40px;
	/* width: 160px; */
} 
.body .center .size .tab1 input{
	margin-top: 10px;
	width: 80px;
}
.body .center .style span{
	position: relative;
}
.body .center .style .tab2{
	display: inline-block;
	height: 40px;
	/* width: 160px; */
} 
/* .body .center .style .tab2 input{
	margin-top: 10px;
} */

.body .center input{
	height: 30px;
	border: 1px solid #959595;
	border-radius: 2px;
	/* color: #ccc; */
	padding-left: 10px;
}
.body .center .id input{
	
}
.body .center .title input{
	width: 400px;
}
.body .center .num{
	width: 60px;
	height: 30px;
	text-align: center;
	padding: 0;
}
.body .center .photo input{
	padding: 0;
	/* position: absolute; */
	width: 200px;
	height: 30px;
	top: 0;
	left: 0;
	outline: none;
	background-color: transparent;
	/* fill: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0; */ 
	border: 1px solid #959595;
}


.body .center nav span ol{
	display: inline-block;
	height:40px;
	margin: 0;
	padding: 0;
	
}
.body .center nav span ol li{
	height: 30px;
	width: 30px;
	line-height: 30px;
	position: relative;
	float: left;
	border: 2px solid #f0f0f0;
	overflow: hidden;
	margin-left: 10px;
	color: #747474;
	font-family: "黑体";
	padding-left: ;
	text-align: center;
}
.body .center nav span ol li:hover{
	color: #FF0000;
	border-color: #FF0000;
}

.body .center p span a{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #f7f7f7;
	text-align: center;
	color: #000000;
	font-size: 24px;
	font-weight: 500;
	text-decoration: none;
	border: 1px solid #F0F0F0;
}

.body .center ul{
	/* width: 400px; */
	height: 100px;
	margin: 15px 0 15px 120px;
	/* margin-left: 80px; */
}
.body .center ul li{
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 100px;
	border: 2px solid #fff;
	background: #f7f7f7;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
}
/* .body .center ul li:hover{
	border: 2px solid #FF0000;
} */

.body .center ul li img{
	position: absolute;
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.body .center .btn{
	margin-top: 30px;
	margin-bottom: 20px;
}
.body .center p .buy_btn{
	display: block;
	height: 40px;
	width: 150px;
	position: relative;
	top: 100px;
	right: 500px;
	line-height: 40px;
	background: #ff0000;
	border: 0;
	border-radius: 5px;
	color: #fff;
	font-family: "黑体";
	text-decoration: none;
	float: left;
}
.body .center p .buy_btn:hover{
	background: #cc0000;
}
.body .center p .add_cart{
	/* display: block; */
	height: 40px;
	width: 150px;
	line-height: 40px;
	text-align: center;
	background: #ff861d;
	border-radius: 5px;
	color: #fff;
	font-family: "黑体";
	text-decoration: none;
	margin-left: 20px;
	position: relative;
	float: left;
}
.body .center p .add_cart:hover{
	background: #e1631a;
}

/* body end*/


/* foot start */

/* foot end */

/* bottom start */

/* bottom end */